
<div class="row padding-row">
  <div class="small-6 large-6 columns">
    <form id="form" enctype="multipart/form-data">
      <div class="row">
        <div class="medium-6 columns">
          <label for="exampleFileUpload" class="secondary button expanded">File</label>
          <input type="file" name="avatar" id="exampleFileUpload" class="show-for-sr">
        </div>
      <div class="medium-6 columns">
        <button type="button"class="button expanded" id="sendPhoto" name="button">Send</button>
      </div>
    </div>
    </form>
  </div>
  <div class="small-6 large-6 columns">
    <div class="card" style="width: 300px;">
      <div id="idCard" class="card-divider">

      </div>
      <img id="image" src="">
      <div class="card-section">
        <h4>This is a card.</h4>
        <p>Select file and then click send.</p>
      </div>
    </div>
  </div>
</div>
